h1 
{
  font-size: xx-large;
	font-family: 'police_milkyroad', Arial, serif;
  color: rgb(109, 47, 47);
  /*background-color: rgb(184, 193, 194);*/
  border: 1px solid black;
}
  
p 
{
  color:rgb(50, 50, 65);
}

body
{
  background-image: url("css/images/logo.png");
  height: 80%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

